BR2_powerpc=y
BR2_powerpc_464fp=y
BR2_KERNEL_HEADERS_4_1=y
BR2_ROOTFS_POST_BUILD_SCRIPT="board/mybooklive/post-build.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="https://cdn.kernel.org/pub/linux/kernel/v4.x/linux-4.1.49.tar.xz"
BR2_LINUX_KERNEL_PATCH="board/mybooklive/patches/linux"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/mybooklive/config_mbl"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="apollo3g"
BR2_LINUX_KERNEL_INSTALL_TARGET=y
